<style>
.box {
    width: 1600px;
    position: relative;
}

.box::after {
    content: "Not finding what you're looking for? Make sure to join the [Halo Wars Modding Discord](https://discord.gg/t52GdQX) to ask questions and share!";
    position: absolute;
    top: 0;
    right: -2px;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(216, 38, 38);
}

.cart {
    position: absolute;
    top: 0;
    right: -4px;
    z-index: 1;
}
</style>


<body>
<div class='box'>
    Not finding what you're looking for? Make sure to join the [Halo Wars Modding Discord](https://discord.gg/t52GdQX) to ask questions and share!
</div>
</body>
